@model IEnumerable<User>

@{
    ViewData["Title"] = "Users";
}
<div class="row my-1">
    <div class="col-8 offset-2 text-center">
        <h2>Users</h2>
    </div>
</div>
<div class="card col-12">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" style="min-height: 50vh">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Address</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model) {
                    <tr>
                        <td>
                            @user.FirstName @user.LastName
                        </td>
                        <td>
                            @user.UserName
                        </td>
                        <td>
                            @user.Email
                        </td>
                        <td>
                            @user.PhoneNumber
                        </td>
                        <td>
                            @user.StreetAddress, @user.City, @user.Province, @user.PostalCode
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
