@model Product

@{
    ViewData["Title"] = "Confirm Delete Product";
}
<div class="row my-1">
    <div class="col-8 offset-2 text-center">
        <h2>Confirm Delete Product</h2>
    </div>
</div>
<div class="card  col-8 offset-2 shadow-lg">
    <div class="card-body row p-2">
        <div class="col col-6">
            @if (Model.Photo != null) {
                <img style="height:250px; width:120px; object-fit:cover;" src="~/img/@Model.Photo" alt="@Model.Name" />
            } else {
                <img style="height:250px; width:120px; object-fit:cover;" src="~/img/default/default.jpg" alt="@Model.Name" />
            }
        </div>
        <div class="col col-6 d-flex flex-column">
            <h5>@Model.Name - @Model.SizeNumber@Model.SizeUnit</h5>
            <small class="text-muted">@Model.Brand</small>
            <div class="mb-3">
                <span class="badge badge-secondary mb-2">@Model.Price.ToString("c")</span>
            </div>
            <div>
                <p>@Model.Description</p>
            </div>
            <div class="form-group" role="group">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Delete" class="btn btn-danger float-right" />
                </form>
                <a class="btn btn-secondary" asp-action="Index"> Cancel </a>
            </div>
        </div>
    </div>
</div>