@model IEnumerable<Product>

@{
    ViewData["Title"] = "Products List";
}
<div class="row my-1">
    <h1 class="display-4">Products List</h1>
</div>
@if (TempData["ErrorMessage"] != null) {
    <div class="row my-1">
        <div class="alert alert-danger w-100 text-center" role="alert">
            <strong>@TempData["ErrorMessage"]</strong>
        </div>
    </div>
}
@if (TempData["SuccessMessage"] != null) {
    <div class="row my-1">
        <div class="alert alert-success w-100 text-center" role="alert">
            <strong>@TempData["SuccessMessage"]</strong>
        </div>
    </div>
}

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin")) {
    <div class="row my-1">
        <a class="btn btn-block btn-lg btn-outline-success" asp-action="AddProduct"><i class="bi bi-plus-circle"></i> Add a New Product</a>
    </div>
}
<div class="row my-1">
    @foreach (var product in Model) {
        <div class="card col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 shadow-lg">
            <div class="card-body row p-2">
                <div class="col col-6">
                    @if (product.Photo != null) {
                        <img style="height:250px; width:120px; object-fit:cover;" src="~/img/@product.Photo" alt="@product.Name" />
                    } else {
                        <img style="height:250px; width:120px; object-fit:cover;" src="~/img/default/default.jpg" alt="@product.Name" />
                    }
                </div>
                <div class="col col-6 d-flex flex-column">
                    <h5>@product.Name - @product.SizeNumber@product.SizeUnit</h5>
                    <small class="text-muted">@product.Brand</small>
                    <div class="mb-3">
                        <span class="badge badge-secondary mb-2">@product.Price.ToString("c")</span>
                    </div>
                    <div class="btn-group mt-auto" role="group" aria-label="Basic example">
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin")) {
                            <a class="btn btn-warning text-white float-right" data-toggle="tooltip" data-placement="top" title="Edit" asp-action="EditProduct" asp-route-id="@product.Id">
                                <i class="bi bi-pencil-fill"></i>
                            </a>
                            <a class="btn btn-danger text-white float-right" data-toggle="tooltip" data-placement="top" title="Delete" asp-action="DeleteProduct" asp-route-id="@product.Id">
                                <i class="bi bi-trash"></i>
                            </a>
                        }
                        <a class="btn btn-primary text-white float-right" data-toggle="tooltip" data-placement="top" title="See Details" asp-action="ViewProductDetails" asp-route-id="@product.Id">
                            <i class="bi bi-eye-fill"></i>
                        </a>
                        <a class="btn btn-success text-white float-right" data-toggle="tooltip" data-placement="top" title="Add to Cart" asp-controller="Orders" asp-action="AddToBasket" asp-route-id="@product.Id">
                            <i class="bi bi-bag-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section scripts {
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
}