@model List<Order>

@{
    ViewData["Title"] = "My Order History";
}
<div class="row my-1">
    <div class="col-8 offset-2 text-center">
        <h2>My Order History</h2>
    </div>
</div>
<div class="card col-12">
    <div class="card-body d-flex flex-column align-items-center justify-content-center" style="min-height: 50vh">
        @if (Model.Count < 1) {
            <h3>You have no orders yet</h3>
            <a class="btn btn-outline-success" asp-controller="Products" asp-action="Index">Go Shopping!</a>
        } else {
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Order ID</th>
                        <th scope="col">Products</th>
                        <th scope="col">Total</th>
                        <th scope="col">User</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model) {
                        <tr>
                            <td>
                                @order.Id
                            </td>
                            <td>

                                <div class="d-flex flex-column alert alert-secondary">
                                    @foreach (var product in order.OrderProducts) {
                                        <div class="d-flex">
                                            <span class="badge badge-secondary mr-1 ">Quantity: @product.Quantity</span>
                                            <span class="badge badge-success">Unit Price: @product.Price.ToString("c")</span>
                                        </div>
                                        <p>@product.Product.Name</p>

                                    }
                                </div>
                            </td>
                            <td>
                                @order.OrderProducts.Select(n => n.Product.Price * n.Quantity).Sum().ToString("c")
                            </td>
                            <td>
                                User
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
